h3.text-center Sobre del Recuerdo

p El servicio Sobre Del Recuerdo, se ofrece a todas esas personas que se encuentran lejos en un momento de dolor pero necesitan enviar sus mas sinceras condolencias.

p El sobre del recuerdo esta compuesto por un sobre personalizado que se le entregara a los dolientes en forma lacrada.Este sobre contiene una hoja tambien personalizada donde los compañeros de la vida pueden escribir sus condolencias.

p Este servicio se tiene una demora de entrega de 2 a 3 horas posteriores a la solicitud del servicio.

p
  strong Precio: $140

= render 'services/form'
