h3.text-center Ramo de Flores

p El servicio Sobre, se ofrece a todas esas personas que se encuentran lejos en un momento de dolor pero necesitan enviar sus mas sinceras condolencias. Este sobre se entregara a las personas juntos con un ramos de crisantemos o claveles.

p El sobre del recuerdo esta compuesto por un sobre personalizado que se le entregara a los dolientes en forma lacrada.Este sobre contiene una hoja tambien personalizada donde los compañeros de la vida pueden escribir sus condolencias. este sobre esta acompañado con un ramo de crisantemos o claveles.

p Este servicio se tiene una demora de entrega de 2 a 3 horas posteriores a la solicitud del servicio.

p
  strong Precio: $340

= render 'services/form'
