h3.text-center Corona

p Envíe su más sincero pésame con esta ofrenda floral y manifieste su afecto en un momento de pérdida.
p La corona estara compuesta por una seleccion y combinacion de los más frescos gladiolos, crisantemos, claveles y flores de estación, estara adornado por laureles.
p El tamaño es de 1 metros de altura.

p Este servicio se tiene una demora de entrega de 2 a 3 horas posteriores a la solicitud del servicio.

p
  strong Precio: $250

= render 'services/form'
